

#body {
    background-color: lightgray;
}

#picture {
    height: 200px;
    width: auto;
    position: relative;
    float: left;
    margin-right: 20px;
}

p {
    text-indent: 10px;
}

.aboutme {
    background-color: white;
    color: teal;
    height: 100%;
    text-align: center;
    margin-left: 0%;
    padding-top: 9px;
}

.myname {
    background-color: teal;
    color: white;
    height: 100%;
    text-align: center;
    margin-left: 0%;
    padding-top: 9px;

}

#footer {
    border-top: solid 10px teal;
    text-align: center;
    background-color: gray;
}

#paragraph {
    background-color: white;
    padding-top: 15px;
}

#a {
    color: gray
}

#title {
    height: 70px;
    color: teal;
    background-color: white;
    text-align: left;
}

.header {
    background-color: white;
    margin-bottom: 4%;
}

#row2 {
    margin-top: 0px;
}

.white {
    background-color: white;
}

#textarea {
    height: 200px;
}

@media (max-width: 640px) {
    
}

@media (max-width: 768px) { ... }

@media (max-width: 980px) { ... }